<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org"
      layout:include="fragments/page :: page(
      title='List of Rates',
      header=true,
      css='premarket/list'
      )">
    <main class="premarket" layout:fragment="content">
        <h2 class="title">Lista de gastos (Janeiro)</h2>
        <table class="im-table">
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th>Data</th>
                    <th>Categoria</th>
                    <th></th>
                    
                </tr>
            </thead>
            <tbody class="to-approve">
                <tr th:each="expense,i : ${expenses}" th:style="${ 'background-color:' + expense.category.getBackgroundColor()}" >
                    <td class="name" th:text="${expense.description}"></td>
                    <td class="name" th:text="${expense.value}"></td>
                    <td th:text="${expense.date}"></td>
                    <td th:text="${expense.category.name}"></td>
                    <td><img alt="logo" th:src="${'/assets/images/' + expense.iconName() + '.png'}" style="width:20px;height:20px;"></td>
                </tr>
            </tbody>
        </table>
    </main>
</html>